<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploads</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <h1>photo gallery title</h1>
                <div class="header_contacts">
                    <a href="https://t.me/YaregR" class="telegram_link">
                        <img src="./icons/telegram.svg" alt="telegram">
                    </a>
                    <a href="viber://chat?number=%2B380671214301" class="viber_link">
                        <img src="./icons/viber.svg" alt="viber">
                    </a>
                    <a href="tel:+380671214301" class="phone_link">
                        <img src="./icons/phone.svg" alt="phone">
                    </a>
                    <a href="tel:+380671214301" class="phone_link_number">+38 067 121 43 01</a>
                </div>
            </div>
               
        </header>
    
        <div class="content">
            <div class="container">  
                <form class="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                    <label for="file" class="upload-btn">Select files</label>
                    <input id="file" type="file" name="filedata" multiple/>
                    <input type="submit" value="Upload" />
                </form> 
            </div>  
        </div>
                 
        <footer class="footer">
            <div class="container">
                Copyright 2022 Gallery
            </div>
        </footer>
    </div>   
</body>
</html>