.container {
    display: flex;
    padding: 20px;
}

.setup {
    margin-bottom: 20px;
}

.field {
    margin: 0 auto;
    width: 800px;
    height: 600px;
    position: relative;
    border: 1px solid #000;
    background-color: #d1d6d5;
    box-sizing: border-box; 

    .block {
        width: 100px;
        height: 100px;
        background-color: rgb(48, 206, 69);
        box-sizing: border-box;
        border: 1px solid #000;
        border-radius: 6px;
    }

    .stop {
        background-color: red;
    }
}

.arrow-container {
    width: 150px;
    height: 100px;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas:
        ".           arrow-up    ."
        "arrow-left  arrow-down  arrow-right";

    .arrow {
        width: 50px;
        height: 50px;
        background-color: rgb(48, 206, 69);
        border: 1px solid #000;
        border-radius: 3px;
        text-align: center;
        font-size: 24px;

        &-up {
            grid-area: arrow-up;
        }
        &-left {
            grid-area: arrow-left;
        }
        &-down {
            grid-area: arrow-down;
        }
        &-right {
            grid-area: arrow-right;
        }
    }
}