<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body>
    <form name="customer">
        <input type="text" name="clientId" placeholder="id - 120 символов">
        <input type="text" name="firstName" placeholder="Имя">
        <input type="text" name="lastName" placeholder="Фамилия">
        <input type="email" name="email" placeholder="e-mail">
        <p><input type="radio" name="gender" value="male">male</p>
        <p><input type="radio" name="gender" value="female">female</p>
        <p><input type="radio" name="gender" value="alien">alien</p>
        <input type="text" name="ipAddress" placeholder="ip адрес">
        <button type="submit">Send</button>
    </form>
    <script src="/javascripts/html.js"></script>
</body>
</html>


