<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karpachoff</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./fonts/fonts.css">
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="company-logo">
                <a href="#">
                    <img src="./img/logo.png" alt="logo">
                </a>
            </div>
            <div class="menu-wrapper">
                <input class="checkbox" type="checkbox" name="" id="" />
                <nav class="header-menu">
                    <a href="#" class="header-menu-link">Главная</a>
                    <a href="#" class="header-menu-link">Материалы для вас</a>
                    <a href="#" class="header-menu-link">Календарь курсов</a>
                </nav>
                <div class="header-log">
                    <a href="#" class="header-menu-link"><i class="fa-solid fa-user"></i>Войти</a>
                </div>
                
                <div class="hamburger">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
            </div>            
        </header>
    </div>

    <div class="subheader">
        <div class="subheader-bg-block-1"></div>
        <div class="subheader-bg-block-2"></div>
        <div class="container">           
            <div class="subheader-wrapper">
                <div class="subheader-main">
                    <h1 class="subheader-title">Академия родительского мастерства</h1>
                    <h2 class="subheader-subtitle">Дмитрия Карпачева</h2>
                    <button class="subheader-btn">Подробнее о курсе</button>
                    <progress class="subheader-progress" value="6" max="10"></progress>
                    <div class="progress-title">
                        <div class="progress-number">10</div>
                        <div class="progress-label">Тем всего</div>
                        <div class="progress-number">6</div>
                        <div class="progress-label">Тем выполнено</div>
                    </div>
                </div>
                <div class="subheader-photo">
                    <img src="./img/karpachoff.png" alt="photo_karpachoff">
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="container">
            <div class="main-links">
                <a href="#" class="main-link">Главная</a>
                <svg width="22" height="1" viewBox="0 0 22 1" fill="none">
                    <line y1="1" x2="22" y2="1" stroke="#979FAD" stroke-width="2"/>
                </svg>
                <a href="#" class="main-link">Курсы</a>
                <svg width="22" height="1" viewBox="0 0 22 1" fill="none">
                    <line y1="1" x2="22" y2="1" stroke="#979FAD" stroke-width="2"/>
                </svg>
                <a href="#" class="main-link">Состав курса</a>
            </div>
        </div>
        <div class="main-title">
            <div class="container">
                <div class="main-title-name">
                    <img src="./img/line.svg" alt="line">
                    <span>Темы курса</span> 
                </div>
                <form action="#" class="child-age">
                    <select name="select">
                        <option selected value="5">Возраст ребенка - 5 лет</option>
                        <option value="7">Возраст ребенка - 7 лет</option>
                        <option value="10">Возраст ребенка - 10 лет</option>
                    </select>
                </form>                
            </div>

        </div>
        <div class="main-themes">
            <div class="container"> 
                <a href="#" class="main-wrapper-link">
                    <div class="main-wrapper">            
                        <div class="themes-number">01</div>  
                        <div class="themes-block">
                            <div class="themes-title">Важные темы прошедшего возраста</div>
                            <div class="themes-age"><img src="./img/baby.svg" alt="baby">до 3 лет 4 месяца</div>
                            <p class="themes-text">В этом модуле содержатся темы, которые были актуальны для более раннего возраста вашего ребенка, но их понимание крайне важно и для дальнейшего воспитания вашего уже более взрослого ребенка.</p>
                            <div class="themes-date">Будет доступно <span>25.03.2019</span></div>
                        </div>
                        <div class="themes-progress-wrapper">
                            <div class="themes-progress-value">60%</div>
                            <div class="themes-progress-container">
                                <progress class="themes-progress" value="6" max="10"></progress>
                            </div>
                        </div>          
                    </div>
                </a>     
                
                <a href="#" class="main-wrapper-link">
                    <div class="main-wrapper">            
                        <div class="themes-number">02</div>  
                        <div class="themes-block">
                            <div class="themes-title">Важные темы прошедшего возраста</div>
                            <div class="themes-age"><img src="./img/baby.svg" alt="baby">до 3 лет 4 месяца</div>
                            <p class="themes-text">В этом модуле содержатся темы, которые были актуальны для более раннего возраста вашего ребенка, но их понимание крайне важно и для дальнейшего воспитания вашего уже более взрослого ребенка.</p>
                            <div class="themes-date">Будет доступно <span>25.03.2019</span></div>
                        </div>
                        <div class="themes-progress-wrapper">
                            <div class="themes-progress-value">60%</div>
                            <div class="themes-progress-container">
                                <progress class="themes-progress" value="6" max="10"></progress>
                            </div>
                        </div>          
                    </div>
                </a>     
                <a href="#" class="main-wrapper-link">
                    <div class="main-wrapper">            
                        <div class="themes-number">03</div>  
                        <div class="themes-block">
                            <div class="themes-title">Важные темы прошедшего возраста</div>
                            <div class="themes-age"><img src="./img/baby.svg" alt="baby">до 3 лет 4 месяца</div>
                            <p class="themes-text">В этом модуле содержатся темы, которые были актуальны для более раннего возраста вашего ребенка, но их понимание крайне важно и для дальнейшего воспитания вашего уже более взрослого ребенка.</p>
                            <div class="themes-date">Будет доступно <span>25.03.2019</span></div>
                        </div>
                        <div class="themes-progress-wrapper">
                            <div class="themes-progress-value">60%</div>
                            <div class="themes-progress-container">
                                <progress class="themes-progress" value="6" max="10"></progress>
                            </div>
                        </div>          
                    </div>
                </a>     
                <a href="#" class="main-wrapper-link">
                    <div class="main-wrapper">            
                        <div class="themes-number">04</div>  
                        <div class="themes-block">
                            <div class="themes-title">Важные темы прошедшего возраста</div>
                            <div class="themes-age"><img src="./img/baby.svg" alt="baby">до 3 лет 4 месяца</div>
                            <p class="themes-text">В этом модуле содержатся темы, которые были актуальны для более раннего возраста вашего ребенка, но их понимание крайне важно и для дальнейшего воспитания вашего уже более взрослого ребенка.</p>
                            <div class="themes-date">Будет доступно <span>25.03.2019</span></div>
                        </div>
                        <div class="themes-progress-wrapper">
                            <div class="themes-progress-value">60%</div>
                            <div class="themes-progress-container">
                                <progress class="themes-progress" value="6" max="10"></progress>
                            </div>
                        </div>          
                    </div>
                </a>     
                <a href="#" class="main-wrapper-link">
                    <div class="main-wrapper">            
                        <div class="themes-number">05</div>  
                        <div class="themes-block">
                            <div class="themes-title">Важные темы прошедшего возраста</div>
                            <div class="themes-age"><img src="./img/baby.svg" alt="baby">до 3 лет 4 месяца</div>
                            <p class="themes-text">В этом модуле содержатся темы, которые были актуальны для более раннего возраста вашего ребенка, но их понимание крайне важно и для дальнейшего воспитания вашего уже более взрослого ребенка.</p>
                            <div class="themes-date">Будет доступно <span>25.03.2019</span></div>
                        </div>
                        <div class="themes-progress-wrapper">
                            <div class="themes-progress-value">60%</div>
                            <div class="themes-progress-container">
                                <progress class="themes-progress" value="6" max="10"></progress>
                            </div>
                        </div>          
                    </div>
                </a>     
                <a href="#" class="main-wrapper-link">
                    <div class="main-wrapper">            
                        <div class="themes-number">06</div>  
                        <div class="themes-block">
                            <div class="themes-title">Важные темы прошедшего возраста</div>
                            <div class="themes-age"><img src="./img/baby.svg" alt="baby">до 3 лет 4 месяца</div>
                            <p class="themes-text">В этом модуле содержатся темы, которые были актуальны для более раннего возраста вашего ребенка, но их понимание крайне важно и для дальнейшего воспитания вашего уже более взрослого ребенка.</p>
                            <div class="themes-date">Будет доступно <span>25.03.2019</span></div>
                        </div>
                        <div class="themes-progress-wrapper">
                            <div class="themes-progress-value">60%</div>
                            <div class="themes-progress-container">
                                <progress class="themes-progress" value="6" max="10"></progress>
                            </div>
                        </div>          
                    </div>
                </a>     
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-wrapper">
                <div class="footer-menu">
                    <div class="footer-menu-title">Онлайн - школа</div>
                    <svg width="30" height="3" viewBox="0 0 30 3" fill="none">
                        <line y1="3" x2="30" y2="3" stroke="#FFFFFF" stroke-width="3"/>
                    </svg>
                    <a href="#" class="footer-menu-link">О школе</a>
                    <a href="#" class="footer-menu-link">Об авторе</a>
                    <a href="#" class="footer-menu-link">Вопрос/Ответ</a>
                    <a href="#" class="footer-menu-link">Отзывы</a>
                </div>
                <div class="footer-menu">
                    <div class="footer-menu-title">Материалы</div>
                    <svg width="30" height="3" viewBox="0 0 30 3" fill="none">
                        <line y1="3" x2="30" y2="3" stroke="#FFFFFF" stroke-width="3"/>
                    </svg>
                    <a href="#" class="footer-menu-link">Мои курсы</a>
                    <a href="#" class="footer-menu-link">Бесплатные курсы</a>
                    <a href="#" class="footer-menu-link">Все о детях</a>
                    <a href="#" class="footer-menu-link">О личности</a>
                    <a href="#" class="footer-menu-link">О семье</a>
                    <a href="#" class="footer-menu-link">Ближайшие курсы</a>
                    <a href="#" class="footer-menu-link">Новинки</a>
                </div>
                <div class="footer-menu">
                    <div class="footer-menu-title">Информация</div>
                    <svg width="30" height="3" viewBox="0 0 30 3" fill="none">
                        <line y1="3" x2="30" y2="3" stroke="#FFFFFF" stroke-width="3"/>
                    </svg>
                    <a href="#" class="footer-menu-link">Способы оплаты</a>
                    <a href="#" class="footer-menu-link">Политика конфиденциальности</a>
                    <a href="#" class="footer-menu-link">Договор оферты</a>
                </div>
                <div class="footer-menu">
                    <div class="footer-menu">
                        <div class="footer-menu-title">Контакты</div>
                        <svg width="30" height="3" viewBox="0 0 30 3" fill="none">
                            <line y1="3" x2="30" y2="3" stroke="#FFFFFF" stroke-width="3"/>
                        </svg>
                        <a href="tel:+380443536036" class="footer-menu-link">+38 (044) 35 36 036</a>
                        <a href="tel:+74955043606" class="footer-menu-link">+7 (495) 504 36 06</a>
                        <a href="mailto:info@karpachoff.com" class="footer-menu-link">info@karpachoff.com</a>
                        <a href="https://school.karpachoff.com" class="footer-menu-link">school.karpachoff.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-line"></div>
    </footer>    
    
</body>
</html>